.navbar {
  width: 100%;
  background-color: #171717;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  z-index: 50;
}

.navbar_logo h2 {
  color: #f4f4f4;
  font-size: 1.4rem;
  cursor: pointer;
}

.navbar_links {
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar_link > li {
  padding-left: 1.5rem;
}

